:root {
  --clr-grey-50: hsla(285, 2%, 39%, 1);
  --clr-grey-100: hsla(0, 0%, 38%, 1);
  --clr-grey-200: hsla(0, 0%, 19%, 1);
  --clr-grey-300: hsla(0, 0%, 10%, 1);

  --clr-text-light: hsla(0, 0%, 89%, 1);
  --clr-text-mid: hsla(0, 0%, 38%, 1);
  --clr-text-dark: hsla(0, 0%, 19%, 1);

  --clr-stroke-50: hsla(0, 0%, 86%, 1);
  --clr-stroke-100: hsla(0, 0%, 88%, 1);
  --clr-stroke-200: hsla(0, 0%, 38%, 1);

  --clr-state-hover: hsla(0, 0%, 95%, 1);
  --clr-state-active: hsla(0, 0%, 94%, 1);
  --clr-state-focus: hsla(214, 100%, 41%, 1);

  --clr-white: hsla(0, 0%, 100%, 1);
  --clr-background: hsla(0, 0%, 95%, 1);

  --fs-200: 0.75rem;
  --fs-400: 0.8125rem;
  --fs-800: 0.875rem;

  --lh-200: 0.975rem;
  --lh-400: 1.1375rem;
  --lh-800: 1.225rem;

  --fw-base: 400;
  --fw-medium: 500;
  --fw-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
svg {
  max-width: 100%;
}

button,
input {
  font: inherit;
}

button {
  border: 0;
  cursor: pointer;
  background: none;
  border-radius: 0.25rem;
}

button:focus-visible {
  outline: 2px solid var(--clr-state-focus);
  outline-offset: 1px;
}

.btn {
  outline: none;
  font-weight: var(--fw-bold);
  font-size: var(--fs-200);
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  transition: all 200ms ease-in;
}

.btn--1 {
  border-top: 1.5px solid hsla(0, 0%, 100%, 0.2);
  border-right: 1.5px solid hsla(0, 0%, 100%, 0.2);
  border-left: 1.5px solid hsla(0, 0%, 100%, 0.2);
  color: var(--clr-text-light);
  background-color: hsl(0, 0%, 25%);
  box-shadow: 0px 0px 0px 1.5px hsl(0, 0%, 20%),
    0px 1px 0px 1.5px hsl(0, 0%, 20%), 0px 2px 0px 0px hsl(0, 0%, 0%);
}

.btn--1:hover {
  background-color: hsl(0, 0%, 16%);
}

.btn--1:active {
  background-color: hsl(0, 0%, 17%);
  box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}

.btn--1:focus,
.btn--1:focus-visible {
  background-color: hsl(0, 0%, 25%);
  box-shadow: 0px 0px 0px 2.5px var(--clr-white),
    0px 0px 0px 5px var(--clr-state-focus), 0px 0px 0px 1.5px hsl(0, 0%, 20%);
}

.btn--2 {
  border: 1px solid hsla(0, 0%, 0%, 0.102);
  background-color: var(--clr-white);
  box-shadow: 0px -1px 0px 0px hsl(0, 0%, 71%) inset;
}

.btn--2:hover {
  background-color: hsl(0, 0%, 97%);
}

.btn--2:active {
  border: 0;
  background-color: hsl(0, 0%, 97%);
  box-shadow: 0px 2px 1.5px 0px hsl(0, 0%, 89%) inset;
}

.btn--2:focus,
.btn--2:focus-visible {
  box-shadow: 0px 0px 0px 1px var(--clr-white),
    0px 0px 0px 3px var(--clr-state-focus),
    0px -1px 0px 0px hsl(0, 0%, 71%) inset;
}

.btn--3:hover {
  background-color: var(--clr-state-hover);
}

.btn--3:active {
  background-color: var(--clr-state-active);
}

.btn--3:focus,
.btn--3:focus-visible {
  border: 2px solid var(--clr-state-focus);
  background-color: var(--clr-white);
}

.fs-small {
  font-size: var(--fs-200);
  line-height: var(--lh-200);
}

.fs-base {
  font-size: var(--fs-400);
  line-height: var(--lh-800);
}

.fs-large {
  font-size: var(--fs-800);
  line-height: var(--lh-800);
}

.fw-regular {
  font-weight: var(--fw-base);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-semi-bold {
  font-weight: var(--fw-bold);
}

.clr-text-light {
  color: var(--clr-text-light);
}

.clr-text-mid {
  color: var(--clr-text-mid);
}

.clr-text-dark {
  color: var(--clr-text-dark);
}

.clr-state-focus {
  color: var(--clr-state-focus);
}

.wrapper {
  width: min(100%, 50rem);
  margin-inline: auto;
}

.flex {
  --gap: 0.5rem;
  display: flex;
  gap: var(--gap, 0);
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.hidden {
  display: none;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-400);
  font-weight: var(--fw-base);
  line-height: var(--lh-400);
  letter-spacing: 0;
  color: var(--clr-text-dark);
  background-color: var(--clr-background);
}

.header {
  position: relative;
  padding: 0.75rem 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-grey-300);
}

.header__logo {
  padding-top: 0.3rem;
}

.header__form {
  position: relative;
  width: 70%;
  height: 2rem;
}

.header__form input {
  outline: none;
  border: 1px solid var(--clr-stroke-200);
  width: 100%;
  height: 100%;
  font-weight: var(--fw-medium);
  padding: 0.5rem;
  padding-left: 2rem;
  border-radius: 0.5rem;
  color: var(--clr-text-light);
  background-color: var(--clr-grey-200);
}

.header__form input::placeholder {
  color: var(--clr-grey-100);
}

.header__form input:hover {
  border: 1px solid var(--clr-stroke-100);
}

.header__form input:active,
.header__form input:focus {
  border: 2px solid var(--clr-white);
}

.header__form-icon {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 0.5rem;
  width: 1.25rem;
  aspect-ratio: 1;
}

.header__navigation {
  --gap: 0.25rem;
  align-items: center;
  justify-content: center;
}

.header__navigation li {
  list-style-type: none;
}

.header__navigation-notification > button {
  outline: none;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.header__navigation-collections > button {
  outline: none;
  align-items: center;
  padding: 0.125rem;
  border-radius: 0.5rem;
  color: var(--clr-text-light);
}

.header__navigation-collections > button,
.header__navigation-notification > button {
  transition: all 200ms ease-in;
}

.header__navigation-notification > button:hover,
.header__navigation-collections > button:hover {
  background-color: var(--clr-stroke-200);
}

.header__navigation-notification > button:active,
.header__navigation-collections > button:active {
  background-color: var(--clr-grey-50);
}

.header__navigation-notification > button:focus,
.header__navigation-notification > button:focus-visible,
.header__navigation-collections > button:focus,
.header__navigation-collections > button:focus-visible {
  background-color: var(--clr-grey-50);
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #000;
}

.header__navigation-collections .full-name {
  display: none;
}

.header__navigation-collections .abbr {
  border-radius: 0.375rem;
  padding: 0.35rem;
  color: rgba(0, 0, 0, 0.4);
  background: hsl(153, 95%, 60%);
}

@media (min-width: 50em) {
  .header__form {
    width: 40%;
  }

  .header__navigation {
    --gap: 0.5rem;
  }

  .header__navigation-notification > button {
    background-color: var(--clr-grey-200);
  }

  .header__navigation-collections > button {
    padding-left: 0.5rem;
    background-color: var(--clr-grey-200);
  }

  .header__navigation-collections .full-name {
    display: inline;
  }
}

.notification-menu[aria-hidden='true'] {
  display: none;
}

.notification-menu[aria-hidden='false'] {
  display: block;
}

.notification-menu {
  position: absolute;
  top: 4rem;
  right: 1rem;
  border: 1px solid var(--clr-stroke-50);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--clr-white);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  z-index: 5;
}

.notification-header {
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}

.notification-menu p {
  text-align: center;
}

.notification-alert {
  padding: 1rem;
  background-color: var(--clr-state-hover);
}

.collections-menu[aria-hidden='true'] {
  display: none;
}

.collections-menu[aria-hidden='false'] {
  display: block;
}

.collections-menu {
  position: absolute;
  width: 20rem;
  top: 4rem;
  right: 1rem;
  border: 1px solid var(--clr-stroke-50);
  border-radius: 0.875rem;
  background-color: var(--clr-white);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  z-index: 5;
}

.collections-menu section:not(:last-child) {
  border-bottom: 1px solid var(--clr-stroke-100);
}

.collections-menu section {
  padding: 0.65rem 1rem 0 0.5rem;
}

.collections-menu li {
  width: 100%;
  margin-bottom: 0.25rem;
}

.collections-menu a {
  text-decoration: none;
  color: inherit;
}

.collections-menu a:not(.collections-menu__admin-name a) {
  padding: 0.375rem;
  border-radius: 0.5rem;
}

.collections-menu
  a:not(
    .collections-menu__admin-name a,
    .collections-menu__admin-name + li a,
    .admin-contact a
  ) {
  display: block;
  width: 100%;
}

.collections-menu a:hover {
  background-color: var(--clr-state-hover);
}

.collections-menu a:active {
  background-color: var(--clr-state-active);
}

.collections-menu a:focus,
.collections-menu a:focus-visible {
  outline: none;
  border: 2px solid var(--clr-state-focus);
}

.collections-menu__admin-name {
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem 0.25rem 0.5rem;
  background-color: var(--clr-state-hover);
}

.collections-menu .admin-details {
  --gap: 0;
  flex-direction: column;
  padding: 0.375rem;
}

main {
  margin-top: 2rem;
}

/* Trial Callout */
.trial-callout {
  align-items: start;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  color: var(--clr-text-light);
  background-color: var(--clr-grey-300);
}

.trial-callout div {
  align-items: start;
  flex-direction: column;
}

.trial-callout__link {
  color: var(--clr-text-dark);
  text-decoration: none;
}

@media (min-width: 50em) {
  .trial-callout {
    border-radius: 0.5rem;
    align-items: center;
  }

  .trial-callout div {
    flex-direction: row;
    align-items: center;
  }

  .trial-callout__text {
    margin-right: 16rem;
  }
}

/* Setup Guide */
.setup-guide {
  margin-top: 1rem;
  padding: 0.5rem;
  padding-bottom: 0;
  border: 1px solid var(--clr-stroke-50);
  background-color: var(--clr-white);
  box-shadow: 0px 1px 0px 0px #0000000d;
}

.setup-guide__header {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.setup-guide__heading h2 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-800);
}

.setup-guide__header > div:last-child {
  margin-top: 1rem;
}

.progress-bar-outer {
  width: 4.5rem;
  height: 0.25rem;
  border-radius: 0.5rem;
  background-color: #e3e3e3;
}

.progress-bar {
  border-radius: 0.5rem;
  width: 0;
  height: 100%;
  background-color: var(--clr-grey-300);
  transition: width 350ms ease-out;
}

button[aria-controls='setup-guide__steps'] {
  border-radius: 0.375rem;
  padding: 0.25rem;
  transition: transform 350ms ease-out;
}

button[aria-controls='setup-guide__steps']:hover {
  background-color: var(--clr-state-hover);
}

button[aria-controls='setup-guide__steps']:active {
  background-color: var(--clr-state-active);
}

button[aria-controls='setup-guide__steps'][aria-expanded='true'] {
  transform: rotate(180deg);
}

button[aria-controls='setup-guide__steps'][aria-expanded='false'] {
  transform: rotate(0deg);
}

.setup-guide__steps {
  visibility: hidden;
  height: 0;
}

.setup-guide__steps[aria-hidden='false'] {
  visibility: visible;
  height: auto;
}

.setup-guide__step {
  position: relative;
  border-radius: 0.625rem;
  padding: 0.5rem 0.5rem 0.75rem 2.5rem;
  margin-bottom: 0.13rem;
}

.setup-guide__step:has([aria-expanded='true']) {
  background-color: hsl(0, 0%, 95%);
}

.setup-guide__step-heading {
  margin-top: 2px;
}

.setup-guide__step-heading button {
  font-weight: 500;
}

.setup-guide__step-heading button[aria-expanded='true'] {
  font-weight: 600;
}

.setup-guide__step-body {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: height 500ms ease-out, visibility 0s 500ms;
}

.setup-guide__step-body[aria-hidden='false'] {
  visibility: visible;
  transition: height 500ms ease-out, visibility 0s 0s;
}

#setup-guide__step-body--1 {
  height: auto;
}

.setup-guide__step:last-child {
  margin-bottom: 0.25rem;
}

.setup-guide__steps[aria-hidden='true'] * {
  visibility: hidden;
  transition: none;
}

.setup-guide__step-body-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setup-guide__step-info {
  display: grid;
  justify-items: start;
  gap: 1rem;
  max-width: 20.375rem;
  margin-top: 1rem;
  font-weight: var(--fw-medium);
  color: var(--clr-text-mid);
}

.setup-guide__step-info a {
  text-decoration: none;
}

.setup-guide__step-info .btn--3 {
  color: var(--clr-text-dark);
}

.setup-guide__step-info > :last-child {
  margin-left: 0.25rem;
  margin-bottom: 0.25rem;
}

.setup-guide__step-image {
  display: none;
}

.setup-guide__step-checkbox {
  outline: none;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;

  display: flex;
  align-items: center;
}

.setup-guide__step-checkbox:focus {
  outline: 2px solid var(--clr-state-focus);
  outline-offset: 1px;
}

.setup-guide__step-checkbox:hover .not-completed-icon circle {
  stroke-dasharray: 0 0;
}

.setup-guide__step-checkbox:focus .not-completed-icon circle {
  fill: #d9d9d9;
  stroke-dasharray: 0 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading-spinner-icon {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes zoom-in-spin {
  from {
    transform: scale(0) rotate(270deg);
    opacity: 0;
  }

  to {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}

.completed-icon {
  animation-name: zoom-in-spin;
  animation-duration: 350ms;
  animation-timing-function: linear;
}

@media (min-width: 50em) {
  .setup-guide {
    border-radius: 1.125rem;
  }

  .setup-guide__step-image {
    display: block;
    width: 9.75906rem;
    height: 7.5rem;
  }

  .setup-guide__step-heading {
    margin-bottom: 0;
  }

  .setup-guide__step-body {
    margin-top: -0.5rem;
  }

  .setup-guide__step:last-child .setup-guide__step-body {
    margin-block: 0;
  }

  .setup-guide__step-info > :last-child {
    margin-left: 0.15rem;
  }
}

@media (min-width: 25em) {
  .setup-guide__step-info {
    max-width: 30.24096rem;
  }
}
