:root {
  --clr-grey-50: hsla(285, 2%, 39%, 1);
  --clr-grey-100: hsla(0, 0%, 38%, 1);
  --clr-grey-200: hsla(0, 0%, 19%, 1);
  --clr-grey-300: hsla(0, 0%, 10%, 1);

  --clr-text-light: hsla(0, 0%, 89%, 1);
  --clr-text-mid: hsla(0, 0%, 38%, 1);
  --clr-text-dark: hsla(0, 0%, 19%, 1);

  --clr-stroke-50: hsla(0, 0%, 86%, 1);
  --clr-stroke-100: hsla(0, 0%, 88%, 1);
  --clr-stroke-200: hsla(0, 0%, 38%, 1);

  --clr-state-hover: hsla(0, 0%, 95%, 1);
  --clr-state-active: hsla(0, 0%, 94%, 1);
  --clr-state-focus: hsla(214, 100%, 41%, 1);

  --clr-white: hsla(0, 0%, 100%, 1);
  --clr-background: hsla(0, 0%, 95%, 1);

  --fs-200: 0.75rem;
  --fs-400: 0.8125rem;
  --fs-800: 0.875rem;

  --lh-200: 0.975rem;
  --lh-400: 1.1375rem;
  --lh-800: 1.225rem;

  --fw-base: 400;
  --fw-medium: 500;
  --fw-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
svg {
  max-width: 100%;
}

button,
input {
  font: inherit;
}

button {
  border: 0;
  cursor: pointer;
  background: none;
}

.fs-small {
  font-size: var(--fs-200);
  line-height: var(--lh-200);
}

.fs-base {
  font-size: var(--fs-400);
  line-height: var(--lh-800);
}

.fs-large {
  font-size: var(--fs-800);
  line-height: var(--lh-800);
}

.fw-regular {
  font-weight: var(--fw-base);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-semi-bold {
  font-weight: var(--fw-bold);
}

.clr-text-light {
  color: var(--clr-text-light);
}

.clr-text-mid {
  color: var(--clr-text-mid);
}

.clr-text-dark {
  color: var(--clr-text-dark);
}

.wrapper {
  padding: 1rem;
}

.flex {
  --gap: 0.5rem;
  display: flex;
  gap: var(--gap, 0);
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-400);
  font-weight: var(--fw-base);
  line-height: var(--lh-400);
  letter-spacing: 0%;
  color: var(--clr-text-dark);
  background-color: var(--clr-background);
}

.header {
  position: relative;
  padding: 0.75rem 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-grey-300);
}

.header__form {
  position: relative;
  width: 70%;
  height: 2rem;
}

.header__form input {
  outline: none;
  border: 1px solid var(--clr-stroke-200);
  width: 100%;
  height: 100%;
  font-weight: var(--fw-medium);
  padding: 0.5rem;
  padding-left: 2rem;
  border-radius: 0.5rem;
  color: var(--clr-grey-100);
  background-color: var(--clr-grey-200);
}

.header__form input:hover {
  border: 1px solid var(--clr-stroke-100);
}

.header__form input:active,
.header__form input:focus {
  border: 2px solid var(--clr-white);
}

.header__form-icon {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 0.5rem;
  width: 1.25rem;
  aspect-ratio: 1;
}

.header__navigation {
  --gap: 0.25rem;
  align-items: center;
  justify-content: center;
}

.header__navigation li {
  list-style-type: none;
}

.header__navigation-notification > button {
  outline: none;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.header__navigation-collections > button {
  outline: none;
  align-items: center;
  padding: 0.125rem;
  border-radius: 0.5rem;
  color: var(--clr-text-light);
}

.header__navigation-notification > button:hover,
.header__navigation-collections > button:hover {
  background-color: var(--clr-stroke-200);
}

.header__navigation-notification > button:active,
.header__navigation-collections > button:active {
  background-color: var(--clr-grey-50);
}

.header__navigation-notification > button:focus,
.header__navigation-notification > button:focus-visible,
.header__navigation-collections > button:focus,
.header__navigation-collections > button:focus-visible {
  background-color: var(--clr-grey-50);
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #000;
}

.header__navigation-collections .full-name {
  display: none;
}

.header__navigation-collections .abbr {
  border-radius: 0.375rem;
  padding: 0.35rem;
  background: hsl(153, 95%, 60%);
}

@media (min-width: 50em) {
  .header__form {
    width: 50%;
  }

  .header__navigation {
    --gap: 0.5rem;
  }

  .header__navigation-notification > button {
    background-color: var(--clr-grey-200);
  }

  .header__navigation-collections > button {
    padding-left: 0.5rem;
    background-color: var(--clr-grey-200);
  }

  .header__navigation-collections .full-name {
    display: inline;
  }
}

.notification-menu[aria-hidden='true'] {
  display: none;
}

.notification-menu[aria-hidden='false'] {
  display: block;
}

.notification-menu {
  position: absolute;
  top: 4rem;
  right: 1rem;
  border: 1px solid var(--clr-stroke-50);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--clr-white);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.notification-header {
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}

.notification-menu p {
  text-align: center;
}

.collections-menu[aria-hidden='true'] {
  display: none;
}

.collections-menu[aria-hidden='false'] {
  display: block;
}

.collections-menu {
  position: absolute;
  width: 20rem;
  top: 4rem;
  right: 1rem;
  border: 1px solid var(--clr-stroke-50);
  border-radius: 0.875rem;
  background-color: var(--clr-white);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.collections-menu section:not(:last-child) {
  border-bottom: 1px solid var(--clr-stroke-100);
}

.collections-menu section {
  padding: 0.65rem 1rem 0 0.5rem;
}

.collections-menu li {
  margin-bottom: 0.65rem;
}

.collections-menu a {
  text-decoration: none;
  color: inherit;
}

.collections-menu .admin-details {
  --gap: 0;
  flex-direction: column;
}
